<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div *ngIf="!isLoginMode" class="form-group">
                <label for="name">First Name</label>
                <input 
                type="name" 
                id="fname" 
                class="form-control"
                ngModel
                name="firstName"
                required 
                >
            </div>
            <div *ngIf="!isLoginMode" class="form-group">
                <label for="name">Last Name</label>
                <input 
                type="name" 
                id="lname"
                 class="form-control"
                 ngModel
                name="lastName"
                 
                 >
            </div>
            <div class="form-group">
                <label for="email" >E mail</label>
                <input 
                type="email" 
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required 
                email 
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password" 
                class="form-control"
                ngModel
                required
                
                />
            </div>
           
            <div>
                <button class="btn btn-primary" type="submit" style="margin-right: 12px; background-color: rgb(13, 199, 19);" [disabled]="!authForm.valid">
                    {{isLoginMode ? 'Login' : 'SignUp'}}</button> ||
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()" style="margin-left: 12px; background-color: darkmagenta;">
                    Switch {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>