<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown>
      <button class="btn btn-primary" type="button" style="margin-top: 12px;" (click)="onEditRecipe()">Edit Recipe</button>
        <button class="btn btn-danger" type="button"  style="margin-top: 12px ;margin-left: 12px;"  (click)="onDeleteRecipe()">Delete Recipe</button>
      
        <hr>
        <button 
        class="btn btn-success" 
        type="button" 
        (click)="onAddToShoppingList()" 
        style="cursor: pointer;margin-top: 12px;"
        >
        Add to cart
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row" style="margin-top: 15px">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
